<div class ="container">
  <div class ="row">
    <div class ="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
<h2>登録情報</h2>
<%= form_with model: @customer,url: customer_path(current_customer) ,method: :patch do |f| %>


    <div class ="form-group">
     <label for ="last_name">姓</label>
     <p><%= f.text_field :last_name %></p>
    </div>

    <div class ="form-group">
      <label for ="first_name">名</label>
     <p><%= f.text_field :first_name %></p>
    </div>



     <div class ="form-group">
      <label for ="last_name_kana">セイ</label>
      <p><%= f.text_field :last_name_kana %></p>
     </div>

     <div class ="form-group">
      <label for ="last_name_kana">メイ</label>
      <p><%= f.text_field :last_name_kana %></p>
     </div>



    <div class ="form-group">
      <label for ="email">email</label>
      <p><%= f.text_field :email %></p>
    </div>

    <div class ="form-group">
      <label for ="postcode">郵便番号</label>
      <p><%= f.text_field :postcode %></p>
    </div>


    <div class ="form-group">
      <label for ="address">住所</label>
      <p><%= f.text_field :address %></p>
    </div>

    <p><%= f.submit '登録',class: "btn btn-secondary" %></p>
      <% end %>

  </div>
  </div>
  </div>





