<p id ="notice"></p>
  <div class ="container px-5 px-sm-3">
   <div class = "row">
    <div class ="col-md-7">
<h2>登録情報</h2>
<table class="table">
  <tbody>
  <tr><th>名前</th><th><%= @customer.last_name %></th><th></th><th><%= @customer.first_name %></th><th></th></tr>
  <tr><th>フリガナ</th><th><%= @customer.last_name_kana %></th><th></th><th><%= @customer.first_name_kana %></th><th></th></tr>
  <tr><th>郵便番号</th><th><%= @customer.postcode %></th><th></th><th></th><th></th></tr>
  <tr><th>住所</th><th><%= @customer.address %></th><th></th><th></th><th></th></tr>
  <tr><th>電話番号</th><th><%= @customer.phone_number %></th><th></th><th></th><th></th></tr>
  <tr><th>メールアドレス</th><th><%= @customer.email %></th><th></th><th></th><th></th></tr>
  <tr><th>会員ステータス</th><th>会員</th><th></th><th></th><th></th></tr>
  </tbody>
</table>
   </div>
  </div>

  <%= link_to edit_customer_path(@customer.id),class:"btn btn-secondary " do %>
   編集
  <% end %>
   </div>
