<body>
	<div class="panel panel-warning">
		<div class="panel-heading">
	<h2><span class="label label-default">注文情報入力</span></h2>
	</div>
	<div class="panel-body">

  <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
	<%= f.label :payment, "支払い方法" %>
	<br>
	<%= f.radio_button :payment,:クレジットカード,  checked: "checked" %>
	<%= f.label :payment, "クレジットカード" %>
	<br>
	<%= f.radio_button :payment, :銀行振込 %>
	<%= f.label :payment, "銀行振込" %>
	<br>

	<%= f.label :address, "お届け先" %>
	<br>

	<%= f.radio_button :street_address, 1, checked: "checked" %>
	<%= f.label :street_address_1, "ご自身の住所" %>
	<%= @customer.postcode %>
	<%= @customer.address %>
	<br>
	<%= f.radio_button :street_address, 2 %>
	<%= f.label :street_address_2, "登録先の住所" %>
	<%= f.collection_select :registered, @addresses, :id, :address, :include_blank => "選択してください" %>

	<br>
	<%= f.radio_button :street_address, 3 %>
	<%= f.label :street_address_3, "新しいお届け先" %>
	<br>

	<%= f.label :postal_code, "郵便番号" %>
	<%= f.text_field :postal_code %>
	<br>

	<%= f.label :order_address, "住所" %>
	<%= f.text_field :order_address %>
	<br>

	<%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>

<% end %>