<div class="row">
	<div class="col-xs-2">
	</div>

  <h2 style="margin: 20px 0;">商品一覧(全<%= @items.count %>件)</h2>
	<div class="col-xs-9">
		<% @items.each do |item| %>
		<div class="col-xs-3">
			<%= link_to item_path(item.id) do %>
				<%= image_tag item_image, size: "200x200" %><br>
				<%= item.name %>
				¥<%= item.introduction %>
			<% end %>
		</div>
		<% end %>
	</div>
<%= paginate @items %>
</div>