<div class="row">
	<div class="col-xs-2">
	</div>

  <h2 style="margin">商品一覧(全<%= @items.count %>件)</h2>
	<div class="col-xs-9">
		<% @items.each do |item| %>
		<div class="col-xs-3">
			<%= link_to item_path(item) do %>
				<%= image_tag item.image, :size =>'250x200'%><br>
				<%= item.name %><br>
				¥<%= item.price %>
			<% end %>
		</div>
		<% end %>
	</div>
<%= paginate @items %>
</div>