<div class= "admin-header">
  <div class= "admin-nav-bars">
      <nav class="nav navbar-brand navbar-left header-logo">
      <%= link_to "ながのCAKE", admin_root_path %>
    </nav>
    <nav class="nav navbar-nav">
      <span class="adjust">
      </span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to admin_items_path,class:"admin-nav-item" do %><i class="glyphicon glyphicon-user users"></i></br>商品一覧<% end %>
        </li>
        <li class="">
          <%= link_to admin_customers_path,class:"admin-nav-item" do %><i class="glyphicon glyphicon-home home"></i></br>会員一覧<% end %>
        </li>
        <li>
          <%= link_to admin_orders_path,class:"admin-nav-item" do %><i class="glyphicon glyphicon-book books"></i></br>注文履歴一覧<% end %>
        </li>
        <li class="">
          <%= link_to admin_genres_path,class:"admin-nav-item" do %><i class="glyphicon glyphicon-home home"></i></br>ジャンル一覧<% end %>
        </li>
        <li>
          <%= button_to "ログアウト", destroy_admin_session_path, method: :delete %><i class="glyphicon glyphicon-log-out logout"></i></br>
        </li>
      </ul>
    </nav>
  </div>
</div>