
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <% if customer_signed_in? %><%# 会員がログインしている時 %>
        <li class="nav-item">
          <%= link_to"マイページ",customer_path(current_customer) %>
        </li>
        <li class="nav-item">
          <%= link_to"ログアウト", destroy_customer_session_path,method: :delete %>
        </li>
      <% elsif admin_signed_in? %><%# 管理者がログインしている時 %>
        <%= render 'layouts/header_admin' %>
      <% else %><%# それ以外の時 %>
        <li class="nav-item">
          <%= link_to "ログイン",new_customer_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to "会員登録",new_customer_registration_path %>
        </li>
        <%# TODO: 会員と管理者のリンクが混じっているので修正↓ %>
        <%#= render 'layouts/header_logout' %>
      <% end %>
    </div>
  </header>

  <main>
    <div class="container main-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </main>
</body>
</html>