
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <% if customer_signed_in? %><%# 会員がログインしている時 %>

        <nav class="nav navbar-brand navbar-left header-logo">

          <%= link_to "ながのCAKE",customer_root_path %>

          </nav>

          <nav class="nav navbar-nav">

          <span class="customer-name login-customer-name">

          <%= current_customer.first_name %><%= current_customer.last_name %>

          </span>

          </nav>

          <nav>

          <ul class="nav navbar-nav navbar-right">

          <li class="">

          <%= link_to "マイページ", customer_path(current_customer) %>

          </li>

          <li>

          <%= link_to "商品一覧", products_path %>

          </li>

          <li>

          <%= link_to "カート", item_carts_path %>

          </li>

          <li>

          <%= button_to "ログアウト", destroy_customer_session_path, method: :delete %>

          </li>

          </ul>

          </nav>

      <% elsif admin_signed_in? %><%# 管理者がログインしている時 %>
        <%= render 'layouts/header_admin' %>
      <% else %><%# それ以外の時 %>
        <li class="nav-item">
          <%= link_to "ログイン",customer_path %>
        </li>
        <li class="nav-item">
          <%= link_to "会員登録", new_customer_registration_path(current_customer %>
        </li>
        <%# TODO: 会員と管理者のリンクが混じっているので修正↓ %>
        <%#= render 'layouts/header_logout' %>
      <% end %>

    </div>
  </header>

  <main>
    <div class="container main-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </main>
</body>
</html>

