
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar navbar-expand-lg navbar-warning bg-warning" >
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
     <a class = "navbar-brand" href ="/",>
        <span>ながのCAKE</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">



 <div class="search_form">
   <%= form_with url: searches_search_path, local:true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :range, options_for_select(['Item']) %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backwarad_match"],["部分一致","partial_match"]]) %>
    <%= f.submit "検索",class: "btn btn-primary" %>
   <% end %>
 </div>


      <% if customer_signed_in? %><%# 会員がログインしている時 %>

          <span class="customer-name login-customer-name">
          <%= current_customer.last_name %><%= current_customer.first_name %><label>様</label>
          </span>

         <%= link_to root_path(current_customer),class: 'text-light' do %>
         <i class="fas fa-home"></i>
         トップ
         <% end %>


        <%= link_to customer_path(current_customer),class: 'text-light' do %>
        <i class="fas fa-user"></i>
        マイページ
        <% end %>

        <%= link_to  items_path,class: 'text-light' do %>
        <i class="fas fa-birthday-cake"></i>
        商品一覧
        <% end %>


        <%= link_to  homes_about_path,class: 'text-light' do %>
        <i class="fas fa-birthday-cake"></i>
        アバウト
        <% end %>


       
         <%= link_to cart_items_path,class: 'text-light' do %>
         <i class="fas fa-cart-plus"></i>
         カート
         <% end %>
         
         <%= button_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'text-light' %>
         
        <!--<i class="fas fa-sign-out-alt"></i>-->
         <!--<%# end %>-->


        <% elsif admin_signed_in? %><%# 管理者がログインしている時 %>
          <%= render 'layouts/header_admin' %>
        <% else %><%# それ以外の時 %>

         <%= link_to root_path(current_customer),class: 'text-light' do %>
        <i class="fas fa-home"></i>
         トップ
        <% end %>

        <%= link_to new_customer_session_path,class: 'text-light' do %>
        <i class="fas fa-sign-in-alt"></i>
        ログイン
        <% end %>

        <%=link_to"会員登録",new_customer_registration_path %>

        <%# TODO: 会員と管理者のリンクが混じっているので修正↓ %>

        <%= link_to  items_path,class: 'text-light' do %>
        <i class="fas fa-birthday-cake"></i>
        商品一覧
        <% end %>

         <%= link_to new_admin_session_path, class: 'text-light'  do %>
         <i class="far fa-user"></i>
         管理者ログイン
         <% end %>

      <% end %>
    </div>
   </nav>
  </header>

  <main>
    <div class="container main-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </main>
</body>

</html>
